<nav class="navbar navbar-dark bg-dark text-light">
<h1>Burger time baybee</h1>
</nav>

<div class="row mt-4">
    <div class="col-4 text-center">
        <h1>burgers to be slammed</h1>
        {{#each burgers}}
            {{#unless devoured}}
                {{> burger devoured=1}}
            {{/unless}}
        {{/each}}
    </div>
    <div class="col-4 text-center ">
        <div class="card text-white bg-secondary orderCard">
            <div class="card-header"><h1>order a burger</h1></div>
            <div class="card-body">
                <form class="newBurger">
                    <input type="text" class="form-control" id="newBurger" placeholder="new burger to slam">
                    <br>
                    <button class="btn btn-light" type="submit">get that burger over here</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4 text-center">
        <h1>slammed burgers</h1>
        {{#each burgers}}
            {{#if devoured}}
                {{> burger devoured=0}}
            {{/if}}
        {{/each}}
    </div>
</div>